@model IEnumerable<TableFootbul>
@{
}
<div class="text-center" >
    <h1 class="alert" style="background-color: rgb(39, 94, 76);"><strong>جدول المباريات</strong> </h1>
    <div class="row"> 
        <div class="col-sm-8"> 

    </div> 
    <div class="col-sm-4 sm-12">
        </div> 
        </div> 
        </div>


<div class="container" dir="rtl">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
<table class="table table-hover ">
    <thead class="table-light">
            <tr>
          <td>الملعب</td>
          <td>المكان</td>
           <td>الفريق الاول</td>
           <td> الفريق الثاني</td>
         <td>الوقت وتاريخ المبارات</td>
           
            
           
            
            
               

            </tr>
        </thead>
        <tbody>

            @foreach (var pr in Model)
            {
                <tr>



                    <td>@pr.Name</td>
                      <td>@pr.Ctiy</td>
                      <td>@pr.Ateam1</td>
                     <td>@pr.Ateam2</td>
                    <td>@pr.MatchTime </td>
                    
                     
                      
                      
                </tr>
            }
        </tbody>
    </table>
   
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

